.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100%;
    gap: 5px;
    padding: 5px;
    .home__items {
        min-width: 200px;       
        app-items {
            flex-grow: 1;
            width: 100%;
        }
    }
    .home__complect-items {
        flex-grow: 1;
    }
}
.home>* {
    flex: 0 1 auto;
    height: 100%;
  }




