<section class="home" #home>
    <div class="home__block home__items resizable"
        #items
        [ngStyle]="{'width': itemsWidthPx}"
        mwlResizable
        [enableGhostResize]="false"
        (resizeEnd)="onItemsResizeEnd($event)">
        <app-items
            [properties]="itemsService.properties$ | async"
            [items]="itemsService.itemObjects$ | async">
        </app-items>
        <div class="resize-handle-right" mwlResizeHandle [resizeEdges]="{ right: true }"></div>
    </div>
    <app-complect-items class="home__block home__complect-items"
        [complect]="currentComplect$ | async"
        (complectChange)="onCurrentComplectChange($event)"
        [items]="itemsService.itemObjects$ | async"
        [properties]="itemsService.properties$ | async"
        (complectItemUpdated)="onComplectItemUpdated($event)"
        
    ></app-complect-items>
    <app-complects *ngIf="showComplects" class="home__block home__complects"
        [complects]="complectsService.complects$ | async"
        [currentComplect]="currentComplect$  | async"
        (currentComplectChange)="onCurrentComplectChange($event)"
    ></app-complects>
</section>
