.mat-mdc-card {
    height: 100%;
}
.mat-mdc-card-header {
    justify-content: space-between;
}
.mat-mdc-card-content{
    min-width: 250px;
    height: calc(100% - 50px);
    overflow: auto;
}

.complect-list__item {
    padding-right: 3px;
}

.complect-list__item-header {
    display: flex;
    justify-content: space-between;
    .complect-list__item-header-text {
        margin-bottom: 3px;
    }
    .complect-list__buttons{
        width: 0;
        position: relative;
        .complect-list__buttons-container{
            position: absolute;
            right: 0;
            bottom: 0;
            display: none;
        }
    }
}

.complect-list__item:hover {
    cursor: pointer;
    .complect-list__item-header{
        .complect-list__buttons{
            .complect-list__buttons-container{
                display: flex;
            }
        }
    }
}

.complect-list__item_selected {
    background-color: rgba(0, 0, 0, 0.04);
}

.complect-list_item-end {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}







