<div class="flex m-auto">
    <div class="m-auto">
        <mat-card>
            <mat-card-title color="white">Register here</mat-card-title>
            <mat-card-subtitle>Enter your login and password here to register.</mat-card-subtitle>

            <mat-card-content>
                <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
                  <app-input
                    class="mat-mdc-card__input"
                    [formControl]="$any(registerForm.controls['userName'])"
                    [label]="'User name'"
                  ></app-input>
                  <mat-divider></mat-divider>
                  <app-input
                      class="mat-mdc-card__input"
                      [formControl]="$any(registerForm.controls['password'])"
                      [type]="'password'"
                      [label]="'Password'"
                  ></app-input>
                  <mat-divider></mat-divider>
                  <app-input
                      class="mat-mdc-card__input"
                      [formControl]="$any(registerForm.controls['confirmPassword'])"
                      [type]="'password'"
                      [label]="'Confirm password'"
                  ></app-input>
                  <mat-divider></mat-divider>
                    
                </form>
                <mat-list *ngIf="validationErrors">
                  <mat-list-item *ngFor="let error of validationErrors">
                    <mat-error>{{error}}</mat-error>
                  </mat-list-item>
                 </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="cancel()" color="basic" type="button" mat-raised-button>Cancel</button>
              <button [disabled]="!registerForm.valid" (click)="register()" color="accent" type="submit" mat-raised-button>Register</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>