<h1 mat-dialog-title>Edit count</h1>
<form class="form" [formGroup]="form" (ngSubmit)="form.valid && onOkClick()" autocomplete="off">
<div mat-dialog-content>
    <app-input 
      [formControl]="$any(form.controls['count'])" 
      [valueType]="valueTypeEnum.Number"
      [label]="'Count'"
      [min]="1">
    </app-input>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="basic"  (click)="onNoClick()" type="button">Cancel</button>
  <button mat-raised-button color="accent" [disabled]="!form.valid" type="submit" cdkFocusInitial>Save</button>
</div>
</form>
