.item {
    background-color: #fdfdfd;
    .item-header {
        display: flex;
        justify-content: space-between;
        
        .item-header-text {
            position: sticky;
            left: 0;
            margin: 0;
            font-weight: 500;     
        }
        
    }
    .item__values{
        display: flex;
        gap: 1px;
        .item__value-container {
            display: flex;
            padding: 2px;
            .item__value{
                width: 100%;
            }
        }
    }
}

.item__buttons {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    right: 0;
    width: 0;
    .item__buttons-container{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        
        .block-header-button {
            position: relative;
        }
        .block-header-button, .block-header-button span , .block-header-button .mat-mdc-button-touch-target{
            width: 24px;
            height: 24px;
        }

         .block-header-button .mat-icon{
            width: 20px;
            height: 20px;
            font-size: 20px;
            position: absolute;
            top: 2px;
            left: 2px;
        }
    }
    
  }

.item:hover {
        .item__buttons {
            .item__buttons-container {
                display: flex;
            }
        }   
}
