<div class="item">
  <mat-divider></mat-divider> 
  <ul class="item__values">
    <li class="item__value-container" 
      *ngFor="let value of values" 
      [ngStyle]="{'width': getWidth(value)}">
      <app-item-value class="item__value" 
        [value]="value.value"
        [property]="value">
      </app-item-value>
      <mat-divider [vertical]="true"></mat-divider> 
    </li>
    <li class="item__buttons">
      <div class="item__buttons-container">
        <button mat-icon-button 
          color="primary" 
          aria-label="Edit item" 
          class="small-button"
          matTooltip="Edit"
          (click)="openEditItemDialog()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button 
          color="primary" 
          aria-label="Edit item" 
          class="small-button"
          matTooltip="Clone"
          (click)="openCloneItemDialog()">
          <mat-icon>control_point_duplicate</mat-icon>
        </button>
        <button mat-icon-button 
          color="primary" 
          aria-label="Delete item" 
          class="small-button"
          matTooltip="Delete"
          (click)="openDeleteItemDialog()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      
    </li>
  </ul> 
  
</div>

  
