<div class="item">
  <ul class="item__values">
    <li class="item__value-container" 
      *ngFor="let value of values" 
      [ngStyle]="{'width': getWidth(value)}">
      <app-item-value class="item__value" 
        [property]="value">
      </app-item-value>
    </li>
    <li class="item__buttons">
      <div class="item__buttons-container">
        <button mat-icon-button 
        color="primary" 
        aria-label="Edit item" 
        class="block-header-button"
        matTooltip="Edit"
        (click)="openEditItemDialog()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button 
        color="primary" 
        aria-label="Delete item" 
        class="block-header-button"
        matTooltip="Delete"
        (click)="openDeleteItemDialog()">
        <mat-icon>delete</mat-icon>
      </button>
      </div>
      
    </li>
  </ul> 
  <mat-divider></mat-divider> 
</div>

  
