.mdc-dialog__content {
    max-width: 360px;
    width: 360px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:560px) {
    .mdc-dialog__content {
        width: 100%;
    }
}