<mat-card class="items">
  <mat-card-header class="items__header">
    
    <mat-card-title >
      <button mat-icon-button 
          color="primary" 
          aria-label="Show headers" 
          matTooltip="Show headers"
          [matMenuTriggerFor]="itemsListHeadersMenu">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu class="table-headers-menu" #itemsListHeadersMenu="matMenu" (click)="$event.stopPropagation()">
          <ul class="table-headers-menu__list" 
            cdkDropList 
            (cdkDropListDropped)="dropHeader($event)"
            [cdkDropListData]="propertiesSorted">
            <li class="table-headers-menu__list-item"
              *ngFor="let prop of propertiesSorted"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".table-headers-menu__list" >
              <div class="table-headers-menu__drag-placeholder" *cdkDragPlaceholder></div>
              <mat-checkbox class="table-headers-menu__ckeckbox" 
                  [(ngModel)]="prop.params.listDisplay"
                  [disableRipple]="true"
                  (click)="$event.stopPropagation()"
                  (change)="onItemHeaderSelected(prop.params)">
                {{prop.name}}
              </mat-checkbox> 
              <mat-icon class="table-headers-menu__drag-handle" 
                cdkDragHandle
                >
                unfold_more
              </mat-icon>
            </li>
          </ul>                          
        </mat-menu>
    <span class="items__header-name">My stuff</span>
  </mat-card-title>
    
  </mat-card-header>
  <mat-card-content class="items__container">
    <ul class="items__list"
        id="itemsList"
        cdkDropList
        #itemsList="cdkDropList"
        cdkDropListConnectedTo="complectItemsList"
        cdkDropListSortingDisabled
        [cdkDropListData]="itemList"
        (cdkDropListExited)="exited($event)"
        (cdkDropListEntered)="entered()"
        >
        <li class="items__list-item items__list-headers-container">
            <ul class="items__list-headers" 
            cdkDropList (cdkDropListDropped)="dropHeader($event)"
            [cdkDropListData]="propertiesFiltered"
            cdkDropListOrientation="horizontal">
              <li class="items__list-header resizable" *ngFor="let prop of propertiesFiltered"
                [ngStyle]="{'width': getWidth(prop)}"
                cdkDrag
                cdkDragLockAxis="x"
                mwlResizable
                [enableGhostResize]="false"
                (resizeEnd)="onResizeEnd($event, prop)">
                <p cdkDragHandle
                  class="items__list-header-text">
                  {{prop.name}}
                </p>
                <div
                  class="resize-handle-right"
                  mwlResizeHandle
                  [resizeEdges]="{ right: true }">
                  <mat-divider [vertical]="true"></mat-divider> 
                </div>
              </li>
              
            </ul>
        </li>
        <li class="items__list-item" *ngFor="let item of itemList" 
          cdkDrag
          [cdkDragData]="item"
          (cdkDragEnded)="entered()">
          <app-item [item]="item"></app-item>
          <div class="item__drag-placeholder" *cdkDragPlaceholder><app-item [item]="item"></app-item></div>
          <div class="item__drag-preview" *cdkDragPreview><app-item [item]="item"></app-item></div>
        </li>
        <li class="items__list-end">
          <button mat-icon-button 
            color="primary" 
            aria-label="Add item" 
            class="items__add-btn"
            matTooltip="Add"
            (click)="openAddItemDialog()">
            <mat-icon>add</mat-icon>
          </button>   
        </li>
    </ul>
  </mat-card-content>
</mat-card>
