.items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .items__header {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        .mat-mdc-card-title {
            display: flex;
            align-items: center;
        }
    }
    .items__container{
        height: calc(100% - 50px);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        
        .items__list {
            overflow: auto;
            height: 100%;
            .items__list-item{
                margin: 2px 0; 
                display: flex; 
                width: fit-content;
                .items__list-item-divider {
                    border-right-width: 4px;
                }         
            }
        }
    }  
}
.items__list-headers {
    display: flex;
    width: fit-content;
    min-width: 50px;
    min-height: 17px;
    gap: 1px;
    .items__list-header {
        margin: 2px 0;
        min-height: 17px;
        hyphens: auto;
        word-break: break-all;
        .resize-handle-right{
            padding-right: 2px;
        }
    }

}


.items__list-headers-menu-ckeckbox {
    display: block;
    padding-right: 10px;
}

.items__list-header-text {
    margin-bottom: 0;
    font-weight: 500;
}



.items__list-end {
    display: flex;
    justify-content: end;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    bottom: 0;
}









