.items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    .items__header {
        flex: 0 0 auto;
        display: flex;
        justify-content: space-between;
        .mat-mdc-card-title {
            display: flex;
            align-items: center;
        }
    }
    .items__container{
        height: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: min-content;
        max-width: 100%;
        
        .items__list {
            overflow: auto;
            height: 100%;
            .items__list-item{
                margin: 2px 0; 
                display: flex; 
                width: fit-content;
                .items__list-item-divider {
                    border-right-width: 4px;
                }         
            }
        }
    }  
}

.table-headers-menu__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.table-headers-menu__list-item {
    display: flex;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);    
}

.table-headers-menu__list-item:hover,
.table-headers-menu__list-item:active {
    background: #F5F5F5;
}

.table-headers-menu__drag-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 40px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.table-headers-menu__drag-handle {
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    background: #F5F5F5;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .item__drag-placeholder {
    background: #FFFF;
    border: 3px dotted rgba(0, 0, 0, 0.14);
    min-height: 35px;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.items__list-headers {
    display: flex;
    width: fit-content;
    min-width: 50px;
    min-height: 17px;
    gap: 1px;
    .items__list-header {
        margin: 2px 0;
        min-height: 17px;
        hyphens: auto;
        word-break: break-all;
        .resize-handle-right{
            padding-right: 2px;
        }
    }

}

.items__list-header-text {
    margin-bottom: 0;
    font-weight: 500;
}

.items__list-end {
    display: flex;
    justify-content: flex-end;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    bottom: 0;
}