.home-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.login-group {
    display: flex;
    align-items: center;
}

.person {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 5px;
    width: min-content;
    .name {
        display: block;
        margin: auto 5px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

::ng-deep .menu {
    .mat-mdc-menu-item-text {
        width: 100%;
    }
    .item {
        max-width: 150px;
        .button {
            width: 100%;
        }   
    }
}

.mat-toolbar {
    justify-content: space-between;
}

.mat-mdc-form-field {
    width: 150px;
}

.mdc-button {
    margin: 0 2px;
}

@media only screen and (max-width:600px) {
    .home-link {
        .text{
            display: none;
        }
    }
}

@media only screen and (max-width:300px) {
    .person {
        .name {
            max-width: 100px;;
        }
    }
}