<mat-toolbar>
    <span>Organize your bag!</span>
    <div class="login-group">
        <div class="person-logo"><mat-icon class="person-logo__icon">person</mat-icon><p class="person-logo__name">{{(accountService.currentUser$ | async)?.userName}}</p></div>
        
        <button *ngIf="accountService.currentUser$ | async" mat-raised-button color="primary" (click)="logout()">Log out</button>
        <a *ngIf="!(accountService.currentUser$ | async)" mat-raised-button color="primary" routerLink="login" >Login</a>
        <a *ngIf="!(accountService.currentUser$ | async)" mat-raised-button color="primary" routerLink="register" >Register</a>
    </div>
    
</mat-toolbar>
