<mat-card class="complect-container">
  <app-chart class="chart" 
    *ngIf="showChart"
    [items$]="items$"
    [properties$]="properties$"
    [categoryGroupId]="categoryGroupId"
    [groupPropertyId$]="groupPropertyId$"
    [groups$]="groups$">
  </app-chart>
    <mat-card-header>
      <mat-card-title class="complect__header">
        <span class="complect__header-name">{{(complect$ | async)?.name}} </span>
        <button mat-icon-button 
          color="primary" 
          aria-label="Edit" 
          class="small-button"
          (click)="openEditComplectDialog()">
          <mat-icon *ngIf="complect$ | async">edit</mat-icon>
          <mat-icon *ngIf="!(complect$ | async)">add</mat-icon>
        </button>
        <button mat-icon-button 
                *ngIf="complect$ | async"
                color="primary" 
                aria-label="Edit item" 
                class="small-button"
                matTooltip="Clone"
                (click)="openCloneComplectDialog()">
                <mat-icon>control_point_duplicate</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>
        {{(complect$ | async)?.description}}
      </mat-card-subtitle>
      <div class="buttons-container">
        <mat-form-field appearance="outline" class="small-outlined-select">
          <mat-label>Show by</mat-label>
          <mat-select [value]="groupPropertyId$ | async" (valueChange)="onGroupPropertyIdChanged($event)">
            <mat-option >None</mat-option>
            <mat-option value="{{categoryGroupId}}">Category</mat-option>
            <mat-option
              *ngFor="let prop of properties$ | async" 
              value="{{prop.id}}">
                {{prop.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button 
          color="primary" 
          aria-label="Show headers" 
          matTooltip="Show headers"
          [matMenuTriggerFor]="listHeadersMenu">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu class="table-headers-menu" #listHeadersMenu="matMenu" (click)="$event.stopPropagation()">
          <ul class="table-headers-menu__list" *ngIf="propertiesSorted$ | async as propertiesSorted"
            cdkDropList 
            (cdkDropListDropped)="onHeaderDrop($event)"
            [cdkDropListData]="propertiesSorted">
            <li class="table-headers-menu__list-item"
              *ngFor="let prop of propertiesSorted"
              cdkDrag
              cdkDragLockAxis="y"
              cdkDragBoundary=".table-headers-menu__list" >
              <div class="table-headers-menu__drag-placeholder" *cdkDragPlaceholder></div>
              <mat-checkbox class="table-headers-menu__ckeckbox" 
                  [(ngModel)]="prop.params.complectDisplay"
                  [disableRipple]="true"
                  (click)="$event.stopPropagation()"
                  (change)="onTableHeaderSelected(prop.params)">
                {{prop.name}}
              </mat-checkbox> 
              <mat-icon class="table-headers-menu__drag-handle" cdkDragHandle>
                unfold_more
              </mat-icon>
            </li>
          </ul>                          
        </mat-menu>
        <button mat-icon-button 
          color="primary" 
          aria-label="Toggle chart" 
          [matTooltip]="getChartLabel()"
          (click)="onChartToggleClick()">
          <mat-icon>pie_chart</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content class="complect-items">
      
      <mat-table [dataSource]="dataSource"
              cdkDropList
              #complectItemsList="cdkDropList"
              id="complectItemsList"
              cdkDropListConnectedTo="itemsList"
              [cdkDropListData]="dataSource"
              (cdkDropListDropped)="onItemDrop($event)">
              
        <ng-container *ngFor="let column of columnViews$ | async" [matColumnDef]="column.columnDef">

          <!-- headers -->
          <ng-container [ngSwitch]="column.columnDef">
            <ng-template ngSwitchCase="{{column.columnDef === 'count' || column.columnDef === 'actions'}}">
              <mat-header-cell *matHeaderCellDef sticky [ngClass]="column.class">
                <span>{{column.header}}</span>
              </mat-header-cell>
            </ng-template>
            <ng-template ngSwitchDefault>
              <mat-header-cell *matHeaderCellDef [ngClass]="column.class">
                <span>{{column.header}}</span>
              </mat-header-cell>
            </ng-template>
          </ng-container>
          
          <mat-cell  [ngClass]="column.class" *matCellDef="let row" [ngSwitch]="column.columnDef">
            <ng-container *ngSwitchCase="'count'">
                <input *ngIf="!row.isSummary" class="item__count-value" 
                type="number"
                [(value)]="row.count"
                min="1"
                (change)="onCountChange($event, row)">
                <span class="item__summary-count" *ngIf="row.isSummary">{{row.count}}</span>
            </ng-container>
            <ng-container *ngSwitchCase="'actions'">          
              <div class="buttons-container" *ngIf="!row.isSummary">
                <button mat-icon-button 
                  color="primary" 
                  aria-label="Edit item" 
                  class="small-button"
                  (click)="openEditItemDialog(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button 
                  color="primary" 
                  aria-label="Edit item" 
                  class="small-button"
                  (click)="openCloneItemDialog(row)">
                  <mat-icon>control_point_duplicate</mat-icon>
                </button>
                <button mat-icon-button 
                  color="primary" 
                  aria-label="Delete from complect" 
                  class="small-button"
                  (click)="openDeleteComplectItemDialog(row)">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
              <span class="item__summary-count" *ngIf="row.isSummary">Summ</span>
            </ng-container>
            <ng-container *ngSwitchCase="'category'">
              <span class="item__category">{{column.cell(row)}}</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <app-item-value class="item__value" 
                [property]="column.property"
                [value]="column.cell(row)">
              </app-item-value>
            </ng-container>
            
          </mat-cell>
        </ng-container>
      
        <mat-header-row class="table-header"  *matHeaderRowDef="displayedColumns$ | async; sticky: true"></mat-header-row>
        <mat-row class="row item" 
           
          *matRowDef="let row; columns: displayedColumns$ | async;"
          cdkDrag
          [cdkDragData]="row"
          cdkDragLockAxis="y"
          cdkDragBoundary="#complectItemsList">
          <div class="item__drag-placeholder"  *cdkDragPlaceholder></div>
        </mat-row>

        <!-- Summary row -->
        <mat-row class="row summary"
         *matRowDef="let row; columns: displayedColumns$ | async; when: isSummary"
         cdkDrag
         [cdkDragData]="row"
         [cdkDragDisabled]="true">
        </mat-row>
        
        <!-- Group header -->
        <ng-container matColumnDef="groupHeader">
          <mat-cell class="group-item__cell" colspan="999"  *matCellDef="let groupBy">
            <div class="group-item__container" >
              <span>{{groupBy.groupValue.name}}: "</span>
              <app-item-value class="group-item__value" 
                  [property]="groupBy.groupValue"
                  [value]="groupBy.groupValue.value">
              </app-item-value>
              <span>"</span>
            </div>
            <div class="buttons-container">
              <button mat-icon-button 
                color="primary" 
                aria-label="Edit item" 
                class="small-button"
                (click)="openEditGroupDialog(groupBy)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button 
                color="primary" 
                aria-label="Delete from complect" 
                class="small-button"
                (click)="openDeleteGroupDialog(groupBy)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            
          </mat-cell>
        </ng-container>
        <!-- Group row -->
        <mat-row class="row group-item"
          *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
          cdkDrag
          [cdkDragData]="row"
          [cdkDragDisabled]="true">
        </mat-row>
    
      </mat-table>
      <div class="complect-items__end-row" *ngIf="complect$ | async">
        <div class="complect-items__end-row-buttons">
          <button mat-icon-button 
          color="primary" 
          aria-label="Add group" 
          class="complect-items__add-group-btn"
          matTooltip="Add group"
          (click)="openAddGroupDialog()">
          <mat-icon>add</mat-icon>
        </button>  
        </div>
      </div>
    </mat-card-content>
</mat-card>
